<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>
<h1>Всі користувачі</h1>
<table>
<tr>
    <th>Ім'я</th>
    <th>Роль</th>
    <th></th>
</tr>
    <tr th:each="user:${allUsers}">
        <td th:text="${user.getUsername()}">username</td>
        <td th:text="${user.getRoles()}">role</td>
        <td><a th:href="@{/user/{id}(id=${user.getId()})}">Редаґувати</a> </td>
    </tr>
</table>

</body>
</html>