<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Menu</title>
</head>
<body>
<h1 th:inline="text">Меню гри</h1>
<div><a th:href="@{/game/name_city/play}">Грати з комп'ютером</a></div>
<div><a th:href="@{/game/name_city/play_with}">Грати з людиною</a></div>
<div><a th:href="@{/game/name_city/best_results}">Найкращі результати</a></div>
<div><a th:href="@{/game}">Назад</a></div>
<div><a th:href="@{/menu}">Головне меню</a></div>
</body>
</html>